---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:05:49 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '19'
      Iterable-Request-Id:
      - 3bd37e99-092e-4c2e-ae0a-45c3678d01bd
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:05:49.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891077649}}'
  recorded_at: Wed, 03 Aug 2022 08:05:49 GMT
[...]
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"scheduledMessageId":891077650}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '9'
      Iterable-Request-Id:
      - 6a9ce202-af02-4b97-aec6-9f4b2ccfd109
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891077650 from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:05:49 GMT
recorded_with: VCR 3.0.3
