---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:05:49 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '14'
      Iterable-Request-Id:
      - f75c23e6-9a53-459e-8948-a6e0b30a3f6d
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:05:49.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891077652}}'
  recorded_at: Wed, 03 Aug 2022 08:05:49 GMT
[...]
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"scheduledMessageId":891077653}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '7'
      Iterable-Request-Id:
      - d79f9916-6f60-43fc-a286-9c9a4f7348e0
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891077653 from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:05:50 GMT
recorded_with: VCR 3.0.3
