---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/email/target
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"user@example.com","campaignId":344851}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 344851 - Sent triggered message to: user@example.com","code":"Success","params":null}'
  recorded_at: Tue, 17 Jul 2018 17:04:27 GMT
recorded_with: VCR 3.0.3
