---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/export/data.json?dataTypeName=emailSend&onlyFields=campaignId&range=All
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Request-Time:
      - '11'
    body:
      encoding: UTF-8
      string: |
        {"email":"foo@barbarbar.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"moshe@hagamal.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"moshe@hagamal.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"moshe@hagamal.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"aaa@aaa.aaa","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"haddymaddy@womp.com","transactio[...]
