---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"home@gmail.com","campaignId":4498067}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '24'
      Iterable-Request-Id:
      - '09bcd301-b40a-4b5f-84c0-3bad6f1acdde'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4498067 - Sent triggered message to: home@gmail.com","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:05:51 GMT
recorded_with: VCR 3.0.3
