---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3533'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":988,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Sat, 01 Jun 2019 02:11:08 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/123?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Received request to deleted item ID 123 from catalog example-catalog","code":"Success","params":null}'
  recorded_at: Sat, 01 Jun 2019 02:11:09 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '872'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Sat, 01 Jun 2019 02:11:10 GMT
recorded_with: VCR 3.0.3
