---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"listId":58508,"subscribers":[{"email":"user@"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"successCount":0,"failCount":1,"invalidEmails":["user@"]}'
  recorded_at: Thu, 05 Oct 2017 22:39:18 GMT
recorded_with: VCR 3.0.3
