---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/users/sample-1507173084@example.com?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"email":"sample-1507173084@example.com","dataFields":{"signupSource":"API","signupDate":"2017-10-05
        03:11:24 +00:00","profileUpdatedAt":"2017-10-05 03:11:24 +00:00","email":"sample-1507173084@example.com"}}}'
  recorded_at: Thu, 05 Oct 2017 03:29:59 GMT
recorded_with: VCR 3.0.3
