---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/commerce/updateCart?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"3548dcc6-4970-47c8-9eb5-eeb253b8085d","name":"Sample
        Item","price":100.0,"quantity":1}],"user":{"userId":"1","email":"sample@example.com"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Sun, 15 Oct 2017 03:08:30 GMT
recorded_with: VCR 3.0.3
