---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/lists/getUsers?listId=42
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email list id","code":"BadParams","params":{"projectId":"2158","listId":"42"}}'
  recorded_at: Mon, 02 Oct 2017 03:43:45 GMT
recorded_with: VCR 3.0.3
