---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:37 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '12'
      Iterable-Request-Id:
      - 16e49049-942b-4915-8832-b94461382f1a
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-04T08:04:37.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891073993}}'
  recorded_at: Wed, 03 Aug 2022 08:04:37 GMT
[...]
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"scheduledMessageId":891074020}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '7'
      Iterable-Request-Id:
      - 65474baa-47d1-4636-8f84-b7aa876cc66c
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891074020 from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:37 GMT
recorded_with: VCR 3.0.3
