---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:37 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '23'
      Iterable-Request-Id:
      - 163b2afe-8d3f-4cf4-978e-4b2911a883bd
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-04T08:04:37.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891074037}}'
  recorded_at: Wed, 03 Aug 2022 08:04:37 GMT
[...]
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"scheduledMessageId":891074040}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '4'
      Iterable-Request-Id:
      - bc488b12-c574-4ca8-9682-db74ccc53a1e
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891074040 from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:38 GMT
recorded_with: VCR 3.0.3
