---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/lists?api_key=<ITERABLE_TOKEN>&name
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"[/api/lists] body: {}, hdrs: ArrayBuffer((X-Forwarded-For,71.204.149.124),
        (X-Forwarded-Proto,https), (X-Forwarded-Port,443), (Host,api.iterable.com),
        (X-Amzn-Trace-Id,Root=1-59d17901-3f62ae425124587635c8030d), (Content-Length,2),
        (Accept,application/json), (Content-Type,application/json), (Accept-Encoding,gzip;q=1.0,deflate;q=0.6,identity;q=0.3),
        (User-Agent,Ruby))","code":"BadJsonBody","params":{"obj.name":[{"msg":"error.path.missing","args":[]}]}}'
  recorded_at: Sun, 01 Oct 2017 23:23:45 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/lists?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"[/api/lists] body: {\"name\":null}, hdrs: ArrayBuffer((X-Forwarded-For,71.204.149.124),
        (X-Forwarded-Proto,https), (X-Forwarded-Port,443), (Host,api.iterable.com),
        (X-Amzn-Trace-Id,Root=1-59d17b87-1b16da432561a4334cae11e4), (Content-Length,13),
        (Accept,application/json), (Content-Type,application/json), (Accept-Encoding,gzip;q=1.0,deflate;q=0.6,identity;q=0.3),
        (User-Agent,Ruby))","code":"BadJsonBody","params":{"obj.name":[{"msg":"error.expected.jsstring","args":[]}]}}'
  recorded_at: Sun, 01 Oct 2017 23:34:31 GMT
recorded_with: VCR 3.0.3
