---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-13 08:04:44 +0000","data_fields":{"first_name":"Chester","last_name":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '13'
      Iterable-Request-Id:
      - cf3ae9ba-7336-4f8b-863e-96b6404757c0
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-13T08:04:44.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891074523}}'
  recorded_at: Wed, 03 Aug 2022 08:04:44 GMT
recorded_with: VCR 3.0.3
