---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/email/viewInBrowser?email=user@example.com&messageId=975dc1f8917643bda9312b0d22a8f152
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "/e/viewInBrowser?index=ab5b93ea90ae44b4a499e67fbd078b31&email=user@example.com&messageId=975dc1f8917643bda9312b0d22a8f152"
      Request-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 07 Oct 2017 00:09:11 GMT
- request:
    method: get
    uri: https://api.iterable.com/e/viewInBrowser?email=user@example.com&index=ab5b93ea90ae44b4a499e67fbd078b31&messageId=975dc1f8917643bda9312b0d22a8f152
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Request-Time:
      - '70'
    body:
      encoding: ASCII-8BIT
      string: "<html><head><title></title></head><body>Email</body></html>"
  recorded_at: Sat, 07 Oct 2017 00:09:12 GMT
