---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3946'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":1181,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Wed, 19 Jun 2019 16:44:33 GMT
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/fieldMappings?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"mappingsUpdates":[{"fieldName":"number","fieldType":"long"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '199'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Wed, 19 Jun 2019 16:44:34 GMT
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/1?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"value":{"number":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogName":"example-catalog","itemId":"1","url":"/api/catalogs/example-catalog/items/1?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Wed, 19 Jun 2019 16:44:34 GMT
[...]
- request:
    method: get
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>&orderBy=number&page=1&pageSize=10&sortAscending=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '128'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogItemsWithProperties":[{"catalogName":"example-catalog","itemId":"1","size":12,"lastModified":1560962674000,"value":{"number":1}},{"catalogName":"example-catalog","itemId":"2","size":12,"lastModified":1560962675000,"value":{"number":2}},{"catalogName":"example-catalog","itemId":"3","size":12,"lastModified":1560962675000,"value":{"number":3}},{"catalogName":"example-catalog","itemId":"4","size":12,"lastModified":1560962676000,"value":{"number":4}},{"catalogName":"example-catalog","itemId":"5","size":12,"lastModified":1560962677000,"value":{"number":5}},{"catalogName":"example-catalog","itemId":"6","size":12,"lastModified":1560962677000,"value":{"number":6}},{"catalogName":"example-catalog","itemId":"7","size":12,"lastModified":1560962678000,"value":{"number":7}},{"catalogName":"example-catalog","itemId":"8","size":12,"lastModified":1560962678000,"value":{"number":8}},{"catalogName":"example-catalog","itemId":"9","size":12,"lastModified":1560962679000,"value":{"number":9}},{"catalogName":"example-catalog","itemId":"10","size":13,"lastModified":1560962679000,"value":{"number":10}}],"totalItemsCount":30,"nextPageUrl":"/api/catalogs/example-catalog/items?pageSize=10&orderBy=number&sortAscending=true&api_key=<ITERABLE_TOKEN>&page=2"}}'
  recorded_at: Wed, 19 Jun 2019 16:45:51 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '949'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Wed, 19 Jun 2019 16:45:53 GMT
recorded_with: VCR 3.0.3
