---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/channels?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"channels":[{"id":6540,"name":"Transactional Channel","channelType":"Transactional","messageMedium":"Email"},{"id":6541,"name":"Push
        Marketing Channel","channelType":"Marketing","messageMedium":"Push"},{"id":6539,"name":"Marketing
        Channel","channelType":"Marketing","messageMedium":"Email"}]}'
  recorded_at: Mon, 02 Oct 2017 19:41:38 GMT
recorded_with: VCR 3.0.3
