---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/campaigns/create?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"","templateId":42,"listIds":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"The listIds field must be specified","code":"BadParams","params":null}'
  recorded_at: Mon, 02 Oct 2017 16:24:40 GMT
recorded_with: VCR 3.0.3
