---
http_interactions:
- request:
    method: put
    uri: https://api.iterable.com/api/metadata/exampletable/foo?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"value":{"bar":"bling"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully updated object foo in table exampletable","code":"Success","params":null}'
  recorded_at: Fri, 06 Oct 2017 16:43:36 GMT
recorded_with: VCR 3.0.3
