---
http_interactions:
- request:
    method: delete
    uri: https://api.iterable.com/api/metadata/exampletable
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '114'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted table exampletable","code":"Success","params":null}'
  recorded_at: Fri, 06 Oct 2017 17:09:10 GMT
recorded_with: VCR 3.0.3
