---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/commerce/trackPurchase
    body:
      encoding: UTF-8
      string: '{"total":"","items":[],"user":{"userId":"1","email":"sample@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"[/api/commerce/trackPurchase] body: {\"total\":\"\",\"items\":[],\"user\":{\"userId\":\"1\",\"email\":\"sample@example.com\"}},
        hdrs: ArrayBuffer((X-Forwarded-For,71.204.149.124), (X-Forwarded-Proto,https),
        (X-Forwarded-Port,443), (Host,api.iterable.com), (X-Amzn-Trace-Id,Root=1-59e2cecc-30fbed753d2eb1ab6cb6c8c3),
        (Content-Length,74), (Accept,application/json), (Content-Type,application/json),
        (Accept-Encoding,gzip;q=1.0,deflate;q=0.6,identity;q=0.3), (User-Agent,Ruby))","code":"BadJsonBody","params":{"obj.total":[{"msg":"error.expected.jsnumber","args":[]}]}}'
  recorded_at: Sun, 15 Oct 2017 02:58:20 GMT
recorded_with: VCR 3.0.3
