---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/messageTypes?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"messageTypes":[{"id":7091,"name":"Push Marketing Message","channelId":6541},{"id":7090,"name":"Transactional
        Message","channelId":6540},{"id":7089,"name":"Marketing Message","channelId":6539}]}'
  recorded_at: Tue, 03 Oct 2017 16:03:12 GMT
recorded_with: VCR 3.0.3
