---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/events/track
    body:
      encoding: UTF-8
      string: '{"eventName":"event-2017-10-02 20:26:23 -0700","email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Tue, 03 Oct 2017 03:26:23 GMT
recorded_with: VCR 3.0.3
