---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:46 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '17'
      Iterable-Request-Id:
      - f8c05dce-f776-4188-8a48-edab8a9c8037
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:04:46.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891074607}}'
  recorded_at: Wed, 03 Aug 2022 08:04:46 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '10'
      Iterable-Request-Id:
      - f119855f-d5ca-4e15-9a35-0ed7adf12d81
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891074607 from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:46 GMT
recorded_with: VCR 3.0.3
