---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/lists?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"id":58508,"name":"new users","createdAt":1505330681211,"listType":"Dynamic"},{"id":56545,"name":"Gene''s
        test list","createdAt":1504308852508,"listType":"Standard"},{"id":56541,"name":"Yuval
        Test List","createdAt":1504307659386,"listType":"Standard"},{"id":56299,"name":"all
        users","createdAt":1504224062138,"listType":"Dynamic"},{"id":55790,"name":"[engagement]
        has been sent an email in the last 6 days","createdAt":1504052753650,"listType":"Dynamic"}]}'
  recorded_at: Sun, 01 Oct 2017 22:15:31 GMT
recorded_with: VCR 3.0.3
