---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/registerDeviceToken?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"device":{"token":"12345678910","applicationName":"devAPNS","platform":"APNS_SANDBOX","dataFields":{}},"email":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: ","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Wed, 11 Oct 2017 03:41:34 GMT
recorded_with: VCR 3.0.3
