---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/export/data.json?api_key=<ITERABLE_TOKEN>&dataTypeName=emailSend&endDateTime=2017-10-24%2009:27:23&onlyFields=campaignId&startDateTime=2017-09-24%2009:27:23
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Exceeded rate limit of 4.0 per minute for endpoint: /api/export/data.json,
        project: 2158 ","code":"RateLimitExceeded","params":{}}'
  recorded_at: Tue, 24 Oct 2017 16:27:23 GMT
- request:
    method: get
    uri: https://api.iterable.com/api/export/data.json?api_key=<ITERABLE_TOKEN>&dataTypeName=emailSend&endDateTime=2017-10-24%2009:28:15&onlyFields=campaignId&startDateTime=2017-09-24%2009:28:15
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Request-Time:
      - '4'
    body:
      encoding: UTF-8
      string: |
        {"email":"foo@barbarbar.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"moshe@hagamal.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"moshe@hagamal.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"moshe@hagamal.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"ali@baba.com","transactionalData":"{\"data\":[]}""contentId":852858,"campaignId":166453}
        {"email":"aaa@aaa.aaa","transactionalData[...]
[...]
