---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:39 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '14'
      Iterable-Request-Id:
      - a4e3807b-3705-4747-a575-1fc07dffc8da
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-04T08:04:39.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891074179}}'
  recorded_at: Wed, 03 Aug 2022 08:04:39 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '5'
      Iterable-Request-Id:
      - 0213a02c-bd66-466f-b73e-ad2739fd063e
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891074179,891074152,891074106,891074090,891074063,891074040,891074037,891074020,891073993,891073980,891073967,891073942,891073934,891045595,891045593,891045591,891045589,891045586,891045585,891045584,891045580,891045578,891045577,891045568,891045566,891045565,891045564,891045561,891045557,890239052,890239051,890239050,890239048,890239043,890239036,890239020,890239015,890239014,890239010,890239008,890239005,890239002,890239000,890238996,890238992,890238976,890238975,890238974,888898518,888898517,888898513,888898511,888898509,888898505,888898503,888898500,888898499,888898497,888898491,888898485,888898484,888898482,888898481,888898480,888898403,888898402,888898401
        from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:39 GMT
recorded_with: VCR 3.0.3
