---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/commerce/trackPurchase
    body:
      encoding: UTF-8
      string: '{"total":100.0,"items":[{"id":"7dbdb35e-0b01-4aee-b2e2-2abd27076512","name":"Sample
        Item","price":100.0,"quantity":1}],"user":{"userId":"1","email":"sample@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Sun, 15 Oct 2017 02:58:21 GMT
recorded_with: VCR 3.0.3
