---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/catalogs/elbatelpmaxe/fieldMappings?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"An error occured. Please try again later. If problem persists,
        please contact your CSM","code":"GenericError","params":null}'
  recorded_at: Sat, 01 Jun 2019 02:00:05 GMT
recorded_with: VCR 3.0.3
