---
http_interactions:
- request:
    method: put
    uri: https://api.iterable.com/api/metadata/example-table/foo
    body:
      encoding: UTF-8
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: |-
        Json error: {"obj.value":[{"msg":"error.expected.jsobject","args":[]}]}
         {"value":null}
  recorded_at: Fri, 06 Oct 2017 16:32:32 GMT
- request:
    method: put
    uri: https://api.iterable.com/api/metadata/exampletable/foo
    body:
      encoding: UTF-8
      string: '{"value":null}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Request-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: |-
        Json error: {"obj.value":[{"msg":"error.expected.jsobject","args":[]}]}
         {"value":null}
  recorded_at: Fri, 06 Oct 2017 16:55:10 GMT
recorded_with: VCR 3.0.3
