---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/events/trackPushOpen
    body:
      encoding: UTF-8
      string: '{"campaignId":181028,"messageId":"7091","email":null}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Either email or userId must be specified in a track call","code":"BadParams","params":{"campaignId":181028,"messageId":"7091"}}'
  recorded_at: Wed, 11 Oct 2017 01:06:15 GMT
recorded_with: VCR 3.0.3
