---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/lists/subscribe?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"listId":58508,"subscribers":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"successCount":0,"failCount":0,"invalidEmails":[]}'
  recorded_at: Thu, 05 Oct 2017 22:39:53 GMT
recorded_with: VCR 3.0.3
