---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/events/trackBulk
    body:
      encoding: UTF-8
      string: '{"events":[{"email":"user@example.com","eventName":"event-2017-10-02
        20:26:23 -0700"},{"email":"bad@","eventName":"event-2017-10-02 20:26:23 -0700"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '8'
      Iterable-Request-Id:
      - 6afd608d-b2cc-4ba2-b435-6543c08bcd66
    body:
      encoding: ASCII-8BIT
      string: '{"successCount":1,"failCount":1,"invalidEmails":["bad@"],"invalidUserIds":[],"disallowedEventNames":[]}'
  recorded_at: Fri, 11 Nov 2022 19:16:28 GMT
recorded_with: VCR 3.0.3
