---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:45 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '17'
      Iterable-Request-Id:
      - 7ee4c169-2283-46d6-a9c4-20c3b3a43b5f
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:04:45.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891074581}}'
  recorded_at: Wed, 03 Aug 2022 08:04:46 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"userId":"77116","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '69'
      Iterable-Request-Id:
      - e849ac51-cad2-4703-99a7-9556303e6802
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891074581,890250909,890250908,890250906,890250900,890250894,890250891,890250888,890250886,890250884,890250878
        from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:46 GMT
recorded_with: VCR 3.0.3
