---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:46 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '119'
      Iterable-Request-Id:
      - 23b8b81b-5351-4a5c-809f-9c3229d86de0
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:04:46.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891074592}}'
  recorded_at: Wed, 03 Aug 2022 08:04:46 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"userId":"77116","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '8'
      Iterable-Request-Id:
      - 0c558e16-13ba-4430-a79a-8f6421946c6a
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891074592 from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:46 GMT
recorded_with: VCR 3.0.3
