---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/registerBrowserToken?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"email":"sample-1507173084@example.com","browserToken":"12345678910"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Fri, 06 Oct 2017 22:23:27 GMT
recorded_with: VCR 3.0.3
