---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/templates?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"templates":[{"templateId":231252,"createdAt":1504047708064,"updatedAt":1506363098303,"name":"new_listings_smart_alert","creatorUserId":"user@example.com","messageTypeId":7089},{"templateId":251803,"createdAt":1506567579500,"updatedAt":1506568661932,"name":"Letterhead
        (09-27-17)","creatorUserId":"user@example.com","messageTypeId":7089},{"templateId":231183,"createdAt":1504043413023,"updatedAt":1506121923553,"name":"new_listings_saved_search","creatorUserId":"user@example.com","messageTypeId":7090},{"templateId":247464,"createdAt":1506043319356,"updatedAt":1506043319356,"name":"price_drop_favorite","creatorUserId":"user@example.com","messageTypeId":7090},{[...]
