---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/campaigns/create?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"list-1506961448","templateId":231155,"listIds":[58508]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"campaignId":176834}'
  recorded_at: Mon, 02 Oct 2017 16:24:08 GMT
recorded_with: VCR 3.0.3
