---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/registerDeviceToken?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"device":{"token":"","applicationName":"devAPNS","platform":"APNS_SANDBOX","dataFields":{}},"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Unable to register token to user Some(user@example.com)","code":"GenericError","params":null}'
  recorded_at: Wed, 11 Oct 2017 03:40:14 GMT
recorded_with: VCR 3.0.3
