---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/bulkUpdate?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"users":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Emails invalid: ","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Fri, 06 Oct 2017 18:19:21 GMT
recorded_with: VCR 3.0.3
