---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/metadata/exampletable?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"table":"exampletable","key":"foo","size":15,"lastModified":1507308218000}]}'
  recorded_at: Fri, 06 Oct 2017 16:51:03 GMT
recorded_with: VCR 3.0.3
