---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"home@gmail.com","campaignId":4444}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '1'
      Iterable-Request-Id:
      - 4cb18322-60d5-47d4-9848-7e786f6ed8e9
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid Campaign Id","code":"BadParams","params":{"campaignId":"4444"}}'
  recorded_at: Wed, 03 Aug 2022 08:05:51 GMT
recorded_with: VCR 3.0.3
