---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:38 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '16'
      Iterable-Request-Id:
      - 14a18b18-e9f6-40fb-889d-7d4cf7386cb7
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-04T08:04:38.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891074063}}'
  recorded_at: Wed, 03 Aug 2022 08:04:38 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"danny@appleuniversity.com","campaignId":44444}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2'
      Iterable-Request-Id:
      - b117cb61-bc5b-4c66-bbd9-fbd95f2b3f5b
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"No scheduled messages found- Invalid email and campaignId combination","code":"BadParams","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:38 GMT
recorded_with: VCR 3.0.3
