---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:38 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '14'
      Iterable-Request-Id:
      - 55e40c25-9862-4e6d-9a5e-776c0c9576a5
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-04T08:04:38.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891074106}}'
  recorded_at: Wed, 03 Aug 2022 08:04:38 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"danny@appleuniversity.com","campaignId":44444}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3'
      Iterable-Request-Id:
      - a1e6d158-a3c0-4b5b-ad78-61d5a1e645e2
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"No scheduled messages found- Invalid email and campaignId combination","code":"BadParams","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:38 GMT
recorded_with: VCR 3.0.3
