---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/commerce/updateCart
    body:
      encoding: UTF-8
      string: '{"items":[],"user":{}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Either email or userId must be set: ApiUserUpdateRequest(None,None,None,None)","code":"BadParams","params":null}'
  recorded_at: Sun, 15 Oct 2017 03:08:08 GMT
recorded_with: VCR 3.0.3
