---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/updateSubscriptions?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"email":"foo@"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: foo@","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Sat, 07 Oct 2017 23:19:14 GMT
recorded_with: VCR 3.0.3
