---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"recipientUserId":"84097","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '28'
      Iterable-Request-Id:
      - fb53e90f-0568-4ff8-b98a-7cb688f7c780
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Sent triggered message to: danny@appleuniversity.com","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:42 GMT
recorded_with: VCR 3.0.3
