---
http_interactions:
- request:
    method: delete
    uri: https://api.iterable.com/api/users/sample-1507173084@example.com?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '89'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Thu, 05 Oct 2017 16:16:34 GMT
recorded_with: VCR 3.0.3
