---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:05:52 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '13'
      Iterable-Request-Id:
      - 210d3c1a-07dc-460c-84b2-7511505a9d29
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:05:52.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891077664}}'
  recorded_at: Wed, 03 Aug 2022 08:05:52 GMT
recorded_with: VCR 3.0.3
