---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/bulkUpdateSubscriptions
    body:
      encoding: UTF-8
      string: '{"updateSubscriptionsRequests":[{"email":"foo@"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"successCount":0,"failCount":1,"invalidEmails":["foo@"],"validEmailFailures":[]}'
  recorded_at: Tue, 10 Oct 2017 15:54:57 GMT
recorded_with: VCR 3.0.3
