---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2021'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":1184,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Wed, 19 Jun 2019 17:10:55 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"documents":{"1":{"orange":"julius","lemon":"wedge"},"2":{"orange":"slice","lemon":"head"}},"replaceUploadedFieldsOnly":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Request to bulk-upload documents into example-catalog processed
        successfully","code":"Success","params":null}'
  recorded_at: Wed, 19 Jun 2019 17:10:55 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2343'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Wed, 19 Jun 2019 17:10:58 GMT
recorded_with: VCR 3.0.3
