---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/inApp/getMessages?count=1&email=user@example.com
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"inAppMessages":[{"messageId":"string","campaignId":0,"createdAt":"2020-08-28T15:57:42.800Z","expiresAt":"2020-08-28T15:57:42.800Z","content":{"html":"string","inAppDisplaySettings":{"top":{},"right":{},"bottom":{},"left":{}}},"customPayload":{},"trigger":{"type":{}},"saveToInbox":true,"inboxMetadata":{"title":"string","subtitle":"string","icon":"string"}}]}'
  recorded_at: Wed, 19 Aug 2020 20:51:22 GMT
- request:
    method: get
    uri: https://api.iterable.com/api/inApp/getMessages?count=1&email=danny@appleuniversity.com
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '144'
      Iterable-Request-Id:
      - da0a126d-348a-4d50-8238-9cb7424e015a
    body:
      encoding: ASCII-8BIT
      string: '{"inAppMessages":[{"messageId":"nXA26QbgKhp69XvI4o0DDi0HDu1wrNr5s5wsDqZoqMx4","campaignId":4572825,"createdAt":1659512868206,"expiresAt":1667288868206,"content":{"html":"<!DOCTYPE
        html><html  lang=\"en\"><head><title></title><meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>\n*{box-sizing:border-box}body{margin:0;padding:0}a[x-apple-data-detectors]{color:inherit!important;text-decoration:inherit!important}#MessageViewBody
        a{color:inherit;text-decoration:none}p{line-height:inherit}.desktop_hide,.desktop_hide
        table{mso-hide:all;display:none;max-height:0;overflow:hidden}@media (max-width:520px){.row-content{width:100%!important}.mobile_hide{display:none}.stack
        .column{width:100%;display:block}.mobile_hide{min-height:0;max-height:0;max-width:0;overflow:hidden;font-size:0}.desktop_hide,.desktop_hide
        table{display:table!important;max-height:none!important}}\n</style></head><body
        style=\"background-color:#fff;margin:0;padding:0;-webkit-text-size-adjust:none;text-size-adjust:none\"><table
        class=\"nl-container\" width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"
        role=\"presentation\" style=\"mso-table-lspace:0;mso-table-rspace:0;background-color:#fff\"><tbody><tr><td><table
        class=\"row row-1\" align=\"center\" width=\"100%\" border=\"0\" cellpadding=\"0\"
        cellspacing=\"0\" role=\"presentation\" style=\"mso-table-lspace:0;mso-table-rspace:0\"><tbody><tr><td><table
        \nclass=\"row-content\" align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"
        role=\"presentation\" style=\"mso-table-lspace:0;mso-table-rspace:0;color:#000;width:500px\"
        width=\"500\"><tbody><tr><td class=\"column column-1\" width=\"100%\" style=\[...]
