---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/templates/push/get?templateId=42
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Template ID: 42 does not exist for this project","code":"BadParams","params":null}'
  recorded_at: Wed, 04 Oct 2017 15:59:16 GMT
recorded_with: VCR 3.0.3
