---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/123?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"No catalog item found in catalog example-catalog with itemId
        123","code":"NotFound","params":null}'
  recorded_at: Sat, 01 Jun 2019 02:17:37 GMT
recorded_with: VCR 3.0.3
