---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/events/user@example.com?api_key=<ITERABLE_TOKEN>&limit=30
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"events":[{"city":"Mountain View","ip":"66.249.84.247","email":"user@example.com","userAgent":"Amazon
        CloudFront","templateId":237422,"messageId":"df2c7973406b4c8594ed42a9b9f8d24e","createdAt":"2017-09-28
        20:03:32 +00:00","region":"CA","campaignId":164261,"device":"-","eventType":"emailOpen"},{"city":"San
        Francisco","ip":"38.142.75.186","email":"user@example.com","url":"https://www.example.com/user/saved-searches?utm_source=Iterable&utm_medium=email&utm_campaign=new_listings_saved_search","userAgent":"Amazon
        CloudFront","templateId":237422,"messageId":"df2c7973406b4c8594ed42a9b9f8d24e","createdAt":"2017-09-28
        20:01:58 +00:00","region":"CA","contentId":876297,"campaignId":164261,"hrefIndex":2,"device":"-","eventType":"emailClick"},{"city":"Mountain
        View","ip":"66.249.84.247","email":"user@example.com","userAgent":"Amazon
        CloudFront","templateId":237422,"messageId":"df2c7973406b4c8594ed42a9b9f8d24e","createdAt":"2017-09-28
        20:01:52 +00:00","region":"CA","campaignId":164261,"device":"-","eventType":"emailOpen"},{"city":"San
        Francisco","ip":"38.142.75.186","email":"user@example.com","url":"https://www.example.com/user/settings/unsubscribe?id=3780773&utm[...]
