---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"home@gmail.com","campaignId":4444}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2'
      Iterable-Request-Id:
      - f8007c74-9616-464a-9d2a-e19524e85995
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid Campaign Id","code":"BadParams","params":{"campaignId":"4444"}}'
  recorded_at: Wed, 03 Aug 2022 08:04:45 GMT
recorded_with: VCR 3.0.3
