---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3780'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":1066,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Mon, 03 Jun 2019 15:07:45 GMT
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/1?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"value":{"number":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogName":"example-catalog","itemId":"1","url":"/api/catalogs/example-catalog/items/1?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Mon, 03 Jun 2019 15:07:47 GMT
[...]
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/fieldMappings?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"mappingsUpdates":[["fieldName","number"],["fieldType","long"]]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Request-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        Json error: {"obj.mappingsUpdates[0]":[{"msg":["error.expected.jsobject"],"args":[]}],"obj.mappingsUpdates[1]":[{"msg":["error.expected.jsobject"],"args":[]}]}
         {"mappingsUpdates":[["fieldName","number"],["fieldType","long"]]}
  recorded_at: Mon, 03 Jun 2019 15:08:03 GMT
- request:
    method: get
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>&page=1&pageSize=10&sortAscending=false
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogItemsWithProperties":[{"catalogName":"example-catalog","itemId":"29","size":13,"lastModified":1559574482000,"value":{"number":29}},{"catalogName":"example-catalog","itemId":"28","size":13,"lastModified":1559574482000,"value":{"number":28}},{"catalogName":"example-catalog","itemId":"30","size":13,"lastModified":1559574482000,"value":{"number":30}},{"catalogName":"example-catalog","itemId":"25","size":13,"lastModified":1559574481000,"value":{"number":25}},{"catalogName":"example-catalog","itemId":"26","size":13,"lastModified":1559574481000,"value":{"number":26}},{"catalogName":"example-catalog","itemId":"27","size":13,"lastModified":1559574481000,"value":{"number":27}},{"catalogName":"example-catalog","itemId":"23","size":13,"lastModified":1559574480000,"value":{"number":23}},{"catalogName":"example-catalog","itemId":"24","size":13,"lastModified":1559574480000,"value":{"number":24}},{"catalogName":"example-catalog","itemId":"21","size":13,"lastModified":1559574479000,"value":{"number":21}},{"catalogName":"example-catalog","itemId":"22","size":13,"lastModified":1559574479000,"value":{"number":22}}],"totalItemsCount":30,"nextPageUrl":"/api/catalogs/example-catalog/items?pageSize=10&sortAscending=false&api_key=<ITERABLE_TOKEN>&page=2"}}'
  recorded_at: Mon, 03 Jun 2019 15:09:06 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '871'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Mon, 03 Jun 2019 15:09:08 GMT
recorded_with: VCR 3.0.3
