---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/disableDevice?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"token":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"[/api/users/disableDevice] body: {\"token\":null}, hdrs: ArrayBuffer((X-Forwarded-For,71.204.149.124),
        (X-Forwarded-Proto,https), (X-Forwarded-Port,443), (Host,api.iterable.com),
        (X-Amzn-Trace-Id,Root=1-59d968a2-18cc33f10442644621de840d), (Content-Length,14),
        (Accept,application/json), (Content-Type,application/json), (Accept-Encoding,gzip;q=1.0,deflate;q=0.6,identity;q=0.3),
        (User-Agent,Ruby))","code":"BadJsonBody","params":{"obj.token":[{"msg":"error.expected.jsstring","args":[]}]}}'
  recorded_at: Sat, 07 Oct 2017 23:52:02 GMT
recorded_with: VCR 3.0.3
