---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/campaigns/recurring/181030/childCampaigns?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 181030 is not a recurring campaign","code":"BadParams","params":null}'
  recorded_at: Wed, 11 Oct 2017 01:38:52 GMT
recorded_with: VCR 3.0.3
