---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/forget?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"email":"sample-1507173084@example.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Tue, 16 Feb 2021 12:38:30 GMT
recorded_with: VCR 3.0.3
