---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2725'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":1071,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Mon, 03 Jun 2019 15:14:41 GMT
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/1?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"value":{"number":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogName":"example-catalog","itemId":"1","url":"/api/catalogs/example-catalog/items/1?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Mon, 03 Jun 2019 15:14:41 GMT
[...]
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/fieldMappings?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"mappingsUpdates":[["fieldName","number"],["fieldType","long"]]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Request-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        Json error: {"obj.mappingsUpdates[0]":[{"msg":["error.expected.jsobject"],"args":[]}],"obj.mappingsUpdates[1]":[{"msg":["error.expected.jsobject"],"args":[]}]}
         {"mappingsUpdates":[["fieldName","number"],["fieldType","long"]]}
  recorded_at: Mon, 03 Jun 2019 15:15:08 GMT
- request:
    method: get
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>&page=1&pageSize=5&sortAscending=false
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogItemsWithProperties":[{"catalogName":"example-catalog","itemId":"30","size":13,"lastModified":1559574907000,"value":{"number":30}},{"catalogName":"example-catalog","itemId":"29","size":13,"lastModified":1559574905000,"value":{"number":29}},{"catalogName":"example-catalog","itemId":"28","size":13,"lastModified":1559574899000,"value":{"number":28}},{"catalogName":"example-catalog","itemId":"27","size":13,"lastModified":1559574895000,"value":{"number":27}},{"catalogName":"example-catalog","itemId":"26","size":13,"lastModified":1559574894000,"value":{"number":26}}],"totalItemsCount":30,"nextPageUrl":"/api/catalogs/example-catalog/items?pageSize=5&sortAscending=false&api_key=<ITERABLE_TOKEN>&page=2"}}'
  recorded_at: Mon, 03 Jun 2019 15:16:08 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '871'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Mon, 03 Jun 2019 15:16:09 GMT
recorded_with: VCR 3.0.3
