---
http_interactions:
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/elbatelpmaxe/items/123?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Received request to deleted item ID 123 from catalog elbatelpmaxe","code":"Success","params":null}'
  recorded_at: Sat, 01 Jun 2019 02:06:33 GMT
recorded_with: VCR 3.0.3
