---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:05:47 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '13'
      Iterable-Request-Id:
      - 576dbb2d-b909-4dad-994b-a38082b930ee
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:05:47.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891077624}}'
  recorded_at: Wed, 03 Aug 2022 08:05:47 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"home@gmail.com","campaignId":44444}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3'
      Iterable-Request-Id:
      - b75c002e-2ca0-424d-9150-e3ecf7d7c887
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"No scheduled messages found- Invalid email and campaignId combination","code":"BadParams","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:05:47 GMT
recorded_with: VCR 3.0.3
