---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:07:04 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '15'
      Iterable-Request-Id:
      - ca629a3b-dc9e-4055-b6b4-25e32074b8e4
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:07:04.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891080481}}'
  recorded_at: Wed, 03 Aug 2022 08:07:04 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"home@gmail.com","campaignId":44444}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '4'
      Iterable-Request-Id:
      - 429cf2e1-33e2-4ca2-80f7-248f6f9dfeee
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"No scheduled messages found- Invalid email and campaignId combination","code":"BadParams","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:07:04 GMT
recorded_with: VCR 3.0.3
