---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/registerDeviceToken?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"device":{"token":"12345678910","applicationName":"devAPNS","platform":"APNS_SANDBOX","dataFields":{}},"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '30193'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Wed, 11 Oct 2017 03:43:10 GMT
recorded_with: VCR 3.0.3
