---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/templates/push/get?templateId=256072
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"templateId":256072,"createdAt":1507132666956,"updatedAt":1507132667012,"name":"Template
        created on Wed, Oct 04 2017, 8:57 AM","message":"Sample example push","messageTypeId":7091,"clientTemplateId":"5"}'
  recorded_at: Wed, 04 Oct 2017 15:59:17 GMT
recorded_with: VCR 3.0.3
