---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"home@gmail.com","campaignId":""}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '0'
      Iterable-Request-Id:
      - d9843881-567a-4478-8df8-c27d90b26904
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"[/api/inApp/target] body: {\"recipientEmail\":\"home@gmail.com\",\"campaignId\":\"\"},
        hdrs: List((Connection,keep-alive), (Host,api.iterable.com), (X-Request-Timeout,1659513942.185),
        (X-Forwarded-For,35.238.96.218), (X-Forwarded-Proto,https), (X-Forwarded-Port,443),
        (X-Amzn-Trace-Id,Root=1-62ea2c1a-1744b44049efdf4a4791e4c6), (Accept,application/json),
        (Content-Type,application/json), (Api-Key,<ITERABLE_TOKEN>), (Accept-Encoding,gzip;q=1.0,deflate;q=0.6,identity;q=0.3),
        (User-Agent,Ruby), (content-length,51))","code":"BadJsonBody","params":{"obj.campaignId":[{"msg":["error.expected.jsnumber"],"args":[]}]}}'
  recorded_at: Wed, 03 Aug 2022 08:04:42 GMT
recorded_with: VCR 3.0.3
