---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/templates/email/upsert?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"ccEmails":["sample@example.com"],"html":"{{unsubscribeUrl}}, {{unsubscribeMessageTypeUrl}}","clientTemplateId":"2"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '120'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Upserted 1 templates with IDs: 255882","code":"Success","params":null}'
  recorded_at: Wed, 04 Oct 2017 04:35:14 GMT
recorded_with: VCR 3.0.3
