---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/templates/push/update?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"message":"Pushing Pushes","templateId":42}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Template ID: 42 does not exist for this project","code":"BadParams","params":null}'
  recorded_at: Wed, 04 Oct 2017 16:03:44 GMT
recorded_with: VCR 3.0.3
