---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/updateEmail
    body:
      encoding: UTF-8
      string: '{"currentEmail":"foo@","newEmail":"sample-1507173084@example.org"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: foo@","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Thu, 05 Oct 2017 04:18:58 GMT
recorded_with: VCR 3.0.3
