---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:05:48 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '17'
      Iterable-Request-Id:
      - aa120192-3987-4a62-8b25-512c4196d833
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:05:48.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891077635}}'
  recorded_at: Wed, 03 Aug 2022 08:05:48 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '1'
      Iterable-Request-Id:
      - 06d85bc9-5777-479c-bfca-cc7a6652c62a
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: ","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:05:48 GMT
recorded_with: VCR 3.0.3
