---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/email/viewInBrowser?messageId=975dc1f8917643bda9312b0d22a8f152&userId=12345
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '13'
      Iterable-Request-Id:
      - f5d4fa65-f1e8-4ac6-8f46-87701c56ffc2
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"No user exists with userId 12345","code":"UnknownUserIdError","params":null}'
  recorded_at: Thu, 06 Jul 2023 19:21:52 GMT
recorded_with: VCR 3.0.3
