---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2815'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":995,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Sat, 01 Jun 2019 02:14:23 GMT
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/fieldMappings?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"mappingsUpdates":[{"something":"wicked"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Request-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        Json error: {"obj.mappingsUpdates[0].fieldName":[{"msg":["error.path.missing"],"args":[]}],"obj.mappingsUpdates[0].fieldType":[{"msg":["error.path.missing"],"args":[]}]}
         {"mappingsUpdates":[{"something":"wicked"}]}
  recorded_at: Sat, 01 Jun 2019 02:14:23 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '872'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Sat, 01 Jun 2019 02:14:24 GMT
recorded_with: VCR 3.0.3
