---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '1874'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":1033,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Sat, 01 Jun 2019 03:34:53 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"itemIds":["123"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully received request to delete 1 items from catalog
        example-catalog","code":"Success","params":null}'
  recorded_at: Sat, 01 Jun 2019 03:34:53 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2813'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Sat, 01 Jun 2019 03:34:56 GMT
recorded_with: VCR 3.0.3
