---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/forget
    body:
      encoding: UTF-8
      string: '{"email":"foo@"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: foo@","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Tue, 16 Feb 2021 12:38:30 GMT
recorded_with: VCR 3.0.3
