---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/events/track
    body:
      encoding: UTF-8
      string: '{"name":null}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"[/api/events/track] body: {\"name\":null}, hdrs: ArrayBuffer((X-Forwarded-For,71.204.149.124),
        (X-Forwarded-Proto,https), (X-Forwarded-Port,443), (Host,api.iterable.com),
        (X-Amzn-Trace-Id,Root=1-59d3024a-749ec30a3335d3220c124398), (Content-Length,13),
        (Accept,application/json), (Content-Type,application/json), (Accept-Encoding,gzip;q=1.0,deflate;q=0.6,identity;q=0.3),
        (User-Agent,Ruby))","code":"BadJsonBody","params":{"obj.eventName":[{"msg":"error.path.missing","args":[]}]}}'
  recorded_at: Tue, 03 Oct 2017 03:21:45 GMT
recorded_with: VCR 3.0.3
