---
http_interactions:
- request:
    method: delete
    uri: https://api.iterable.com/api/users/byUserId/42?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"No users with userId 42 exist","code":"BadParams","params":null}'
  recorded_at: Thu, 05 Oct 2017 18:19:52 GMT
recorded_with: VCR 3.0.3
