---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/templates/email/get?api_key=<ITERABLE_TOKEN>&templateId=42
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Template ID: 42 does not exist for this project","code":"BadParams","params":null}'
  recorded_at: Wed, 04 Oct 2017 03:10:53 GMT
recorded_with: VCR 3.0.3
