---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/email/viewInBrowser?messageId=975dc1f8917643bda9312b0d22a8f152&userId=84097
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Request-Time:
      - '39'
      Iterable-Request-Id:
      - 0a24c045-8d4c-4170-8602-29d7c1d2b3b1
    body:
      encoding: ASCII-8BIT
      string: "<html><head><title></title></head><body>Email</body></html>"
  recorded_at: Thu, 06 Jul 2023 19:21:52 GMT
recorded_with: VCR 3.0.3
