---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/update
    body:
      encoding: UTF-8
      string: '{"email":"sample-1507173083@example.com"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Thu, 05 Oct 2017 03:11:24 GMT
recorded_with: VCR 3.0.3
