---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2742'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":1068,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Mon, 03 Jun 2019 15:10:31 GMT
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/1?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"value":{"number":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogName":"example-catalog","itemId":"1","url":"/api/catalogs/example-catalog/items/1?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Mon, 03 Jun 2019 15:10:31 GMT
[...]
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/fieldMappings?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"mappingsUpdates":[["fieldName","number"],["fieldType","long"]]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Request-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        Json error: {"obj.mappingsUpdates[0]":[{"msg":["error.expected.jsobject"],"args":[]}],"obj.mappingsUpdates[1]":[{"msg":["error.expected.jsobject"],"args":[]}]}
         {"mappingsUpdates":[["fieldName","number"],["fieldType","long"]]}
  recorded_at: Mon, 03 Jun 2019 15:10:49 GMT
- request:
    method: get
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>&page=2&pageSize=10&sortAscending=false
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogItemsWithProperties":[{"catalogName":"example-catalog","itemId":"19","size":13,"lastModified":1559574641000,"value":{"number":19}},{"catalogName":"example-catalog","itemId":"20","size":13,"lastModified":1559574641000,"value":{"number":20}},{"catalogName":"example-catalog","itemId":"16","size":13,"lastModified":1559574640000,"value":{"number":16}},{"catalogName":"example-catalog","itemId":"17","size":13,"lastModified":1559574640000,"value":{"number":17}},{"catalogName":"example-catalog","itemId":"18","size":13,"lastModified":1559574640000,"value":{"number":18}},{"catalogName":"example-catalog","itemId":"13","size":13,"lastModified":1559574639000,"value":{"number":13}},{"catalogName":"example-catalog","itemId":"14","size":13,"lastModified":1559574639000,"value":{"number":14}},{"catalogName":"example-catalog","itemId":"15","size":13,"lastModified":1559574639000,"value":{"number":15}},{"catalogName":"example-catalog","itemId":"10","size":13,"lastModified":1559574638000,"value":{"number":10}},{"catalogName":"example-catalog","itemId":"11","size":13,"lastModified":1559574638000,"value":{"number":11}}],"totalItemsCount":30,"nextPageUrl":"/api/catalogs/example-catalog/items?pageSize=10&sortAscending=false&api_key=<ITERABLE_TOKEN>&page=3","previousPageUrl":"/api/catalogs/example-catalog/items?pageSize=10&sortAscending=false&api_key=<ITERABLE_TOKEN>&page=1"}}'
  recorded_at: Mon, 03 Jun 2019 15:11:50 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '884'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Mon, 03 Jun 2019 15:11:52 GMT
recorded_with: VCR 3.0.3
