---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/templates/getByClientTemplateId?api_key=<ITERABLE_TOKEN>&clientTemplateId=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"templates":[{"templateId":231236,"locales":[]}]}'
  recorded_at: Tue, 03 Oct 2017 18:25:27 GMT
recorded_with: VCR 3.0.3
