---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:36 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '18'
      Iterable-Request-Id:
      - bce3f494-dce6-40cd-b999-6444d0d294ce
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-04T08:04:36.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891073980}}'
  recorded_at: Wed, 03 Aug 2022 08:04:37 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"userId":"84097","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '7'
      Iterable-Request-Id:
      - a3e74258-6745-4004-a4e7-7d4529e8430a
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully cancelled scheduled messages with scheduledMessageId:
        891073980,891073967,891073942,891073934,891045595,891045593,891045591,891045589,891045586,891045585,891045584,891045580,891045578,891045577,891045568,891045566,891045565,891045564,891045561,891045557,890239052,890239051,890239050,890239048,890239043,890239036,890239020,890239015,890239014,890239010,890239008,890239005,890239002,890239000,890238996,890238992,890238976,890238975,890238974,888898518,888898517,888898513,888898511,888898509,888898505,888898503,888898500,888898499,888898497,888898491,888898485,888898484,888898482,888898481,888898480,888898403,888898402,888898401
        from project: 8374","code":"Success","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:37 GMT
recorded_with: VCR 3.0.3
