---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/events/trackBulk
    body:
      encoding: UTF-8
      string: '{"events":[{"email":"user@example.com","eventName":null},{"email":"bad@","eventName":null}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '1'
      Iterable-Request-Id:
      - 904f262d-a9f3-4ea9-8791-24fce552a8b6
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"[/api/events/trackBulk] body: {\"events\":[{\"email\":\"user@example.com\",\"eventName\":null},{\"email\":\"bad@\",\"eventName\":null}]},
        hdrs: List((Connection,keep-alive), (Host,api.iterable.com), (X-Request-Timeout,1668194248.917),
        (X-Forwarded-For,70.106.216.189), (X-Forwarded-Proto,https), (X-Forwarded-Port,443),
        (X-Amzn-Trace-Id,Root=1-636e9f8c-43340415281658512f268470), (Accept,application/json),
        (Content-Type,application/json), (Api-Key,<ITERABLE_TOKEN>), (Accept-Encoding,gzip;q=1.0,deflate;q=0.6,identity;q=0.3),
        (User-Agent,Ruby), (content-length,92))","code":"BadJsonBody","params":{"obj.events[0].eventName":[{"msg":["error.expected.jsstring"],"args":[]}],"obj.events[1].eventName":[{"msg":["error.expected.jsstring"],"args":[]}]}}'
  recorded_at: Fri, 11 Nov 2022 19:16:28 GMT
recorded_with: VCR 3.0.3
