---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"","campaignId":4498067}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2'
      Iterable-Request-Id:
      - 4433cc39-fe1c-4a4d-bee8-8c31c02bc7c2
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: ","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:05:52 GMT
recorded_with: VCR 3.0.3
