---
http_interactions:
- request:
    method: delete
    uri: https://api.iterable.com/api/lists/61933?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"List 61933 in Project 2158 was successfully deleted.","code":"Success","params":null}'
  recorded_at: Sun, 01 Oct 2017 23:53:28 GMT
recorded_with: VCR 3.0.3
