---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/bulkUpdate?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"users":[{"email":"sample@example.com"},{"email":"bad@"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"successCount":1,"failCount":1,"invalidEmails":["bad@"]}'
  recorded_at: Fri, 06 Oct 2017 18:20:55 GMT
recorded_with: VCR 3.0.3
