---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"documents":{"1":{"orange":"julius","lemon":"wedge"},"2":{"orange":"slice","lemon":"head"}},"replaceUploadedFieldsOnly":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"You are trying to access catalog example-catalog, but it does
        not yet exist. Please see our API docs to explicitly create the catalog.","code":"NotFound","params":null}'
  recorded_at: Wed, 19 Jun 2019 17:10:27 GMT
recorded_with: VCR 3.0.3
