---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"recipientUserId":"84097","sendAt":"2022-08-04 08:05:50 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '16'
      Iterable-Request-Id:
      - e9c0ba46-aa51-4aa1-919a-3eccb23e138e
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:05:50.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891077659}}'
  recorded_at: Wed, 03 Aug 2022 08:05:50 GMT
recorded_with: VCR 3.0.3
