---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:05:48 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"home@gmail.com","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '19'
      Iterable-Request-Id:
      - 123779e4-e2d2-4cbc-93d5-1cc09d1b1a87
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4445736 - Scheduled triggered message for: 2022-08-04T08:05:48.000Z
        to: home@gmail.com","code":"Success","params":{"scheduledMessageId":891077639}}'
  recorded_at: Wed, 03 Aug 2022 08:05:48 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"foo@","campaignId":4445736}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '2'
      Iterable-Request-Id:
      - 0c822b20-3bd2-44b4-a99c-9d6943a8cb7a
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: foo@","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:05:48 GMT
recorded_with: VCR 3.0.3
