---
http_interactions:
- request:
    method: patch
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/123?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"update":{"orange":"julius","lemon":"wedge"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Failed to upload into example-catalog. You are trying to access
        catalog example-catalog, but it does not yet exist. Please see our API docs
        to explicitly create the catalog.","code":"BadParams","params":null}'
  recorded_at: Sat, 01 Jun 2019 03:00:02 GMT
recorded_with: VCR 3.0.3
