---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/commerce/trackPurchase?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"total":100.0,"items":[{"id":"ef9fb8bb-f0a2-4132-a6e0-fd263573373f","name":"Sample
        Item","price":100.0,"quantity":1}],"user":{"userId":"1","email":"sample@example.com"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Sun, 15 Oct 2017 02:58:21 GMT
recorded_with: VCR 3.0.3
