---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3836'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"id":1030,"name":"example-catalog","url":"/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Sat, 01 Jun 2019 03:10:46 GMT
- request:
    method: put
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/123?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"value":{"orange":"julius","lemon":"wedge"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogName":"example-catalog","itemId":"123","url":"/api/catalogs/example-catalog/items/123?api_key=<ITERABLE_TOKEN>"}}'
  recorded_at: Sat, 01 Jun 2019 03:10:46 GMT
- request:
    method: get
    uri: https://api.iterable.com/api/catalogs/example-catalog/items/123?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":{"catalogName":"example-catalog","itemId":"123","size":35,"lastModified":1559358646000,"value":{"orange":"julius","lemon":"wedge"}}}'
  recorded_at: Sat, 01 Jun 2019 03:11:46 GMT
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '959'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully deleted catalog example-catalog","code":"Success","params":null}'
  recorded_at: Sat, 01 Jun 2019 03:11:47 GMT
recorded_with: VCR 3.0.3
