---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/templates/email/get?templateId=194014
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"templateId":194014,"metadata":{"templateId":194014,"createdAt":1498605482010,"updatedAt":1498605482010,"name":"Template
        created on Thu, Jun 22 2017, 3:48 PM","creatorUserId":"user@example.com","messageTypeId":7089},"name":"Template
        created on Thu, Jun 22 2017, 3:48 PM","fromName":"Example","fromEmail":"email@example.com","subject":"My
        Subject","preheaderText":"","ccEmails":[],"bccEmails":[],"html":"","plainText":"","cacheDataFeed":true,"mergeDataFeedContext":false,"messageTypeId":7089,"creatorUserId":"user@example.com"}'
  recorded_at: Wed, 04 Oct 2017 03:09:48 GMT
recorded_with: VCR 3.0.3
