---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/email/target
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"user@example.com","campaignId":42}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid campaignId","code":"BadParams","params":{"campaignId":"42"}}'
  recorded_at: Tue, 17 Jul 2018 17:02:07 GMT
recorded_with: VCR 3.0.3
