---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/templates/email/update
    body:
      encoding: UTF-8
      string: '{"ccEmails":["sample@example.com"],"templateId":42}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Template ID: 42 does not exist for this project","code":"BadParams","params":null}'
  recorded_at: Wed, 04 Oct 2017 03:48:14 GMT
recorded_with: VCR 3.0.3
