---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/users/bulkUpdateSubscriptions
    body:
      encoding: UTF-8
      string: '{"updateSubscriptionsRequests":[{"email":"sample-1507173084@example.com"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"successCount":1,"failCount":0,"invalidEmails":[],"validEmailFailures":[]}'
  recorded_at: Tue, 10 Oct 2017 15:55:31 GMT
recorded_with: VCR 3.0.3
