---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/campaigns
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>  
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"campaigns":[{"id":171341,"createdAt":1506044265225,"updatedAt":1506044265269,"name":"Untitled
        campaign from Workflow 14639","templateId":247466,"createdByUserId":"user@example.com","campaignState":"Running","labels":[]},{"id":171339,"createdAt":1506043319373,"updatedAt":1506043319373,"name":"price_drop_favorite
        campaign from Workflow 14639","templateId":247464,"createdByUserId":"user@example.com","campaignState":"Running","labels":[]},{"id":166453,"createdAt":1505331025461,"updatedAt":1505331025461,"name":"confirmation_welcome
        campaign from Workflow 14898","templateId":240554,"createdByUserId":"user@example.com","campaignState":"Running","labels":[]},{"id":164264,"createdAt":1504893249772,"u[...]
