---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/templates/push/update
    body:
      encoding: UTF-8
      string: '{"message":"Pushing Pushes","templateId":256072}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"","code":"Success","params":null}'
  recorded_at: Wed, 04 Oct 2017 16:03:45 GMT
recorded_with: VCR 3.0.3
