---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/workflows/triggerWorkflow
    body:
      encoding: UTF-8
      string: '{"workflowId":14898}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Must provide either an email or list id","code":"GenericError","params":null}'
  recorded_at: Thu, 05 Oct 2017 18:57:38 GMT
recorded_with: VCR 3.0.3
