---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/metadata/exampletable/dnuofton?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"No metadata found in table exampletable with key dnuofton","code":"NotFound","params":null}'
  recorded_at: Fri, 06 Oct 2017 17:00:44 GMT
recorded_with: VCR 3.0.3
