---
http_interactions:
- request:
    method: delete
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"itemIds":["123"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Successfully received request to delete 1 items from catalog
        example-catalog","code":"Success","params":null}'
  recorded_at: Sat, 01 Jun 2019 03:34:51 GMT
recorded_with: VCR 3.0.3
