---
http_interactions:
- request:
    method: get
    uri: https://api.iterable.com/api/catalogs/example-catalog/items?api_key=<ITERABLE_TOKEN>&page=1&pageSize=10&sortAscending=false
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"You are trying to access catalog example-catalog, but it does
        not yet exist. Please see our API docs to explicitly create the catalog.","code":"NotFound","params":null}'
  recorded_at: Wed, 19 Jun 2019 16:22:27 GMT
recorded_with: VCR 3.0.3
