---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '1'
      Iterable-Request-Id:
      - 65dfcbb0-9fe6-48a5-82da-44b7bec2de84
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: ","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:42 GMT
recorded_with: VCR 3.0.3
