---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/events/trackBulk
    body:
      encoding: UTF-8
      string: '{"events":[]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '17'
      Iterable-Request-Id:
      - db78be35-08c4-438d-b2ed-9cc7037a3cc1
    body:
      encoding: ASCII-8BIT
      string: '{"successCount":0,"failCount":0,"invalidEmails":[],"invalidUserIds":[],"disallowedEventNames":[]}'
  recorded_at: Fri, 11 Nov 2022 19:16:28 GMT
recorded_with: VCR 3.0.3
