---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/lists?name=list-1506900224
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"[/api/lists] body: {}, hdrs: ArrayBuffer((X-Forwarded-For,71.204.149.124),
        (X-Forwarded-Proto,https), (X-Forwarded-Port,443), (Host,api.iterable.com),
        (X-Amzn-Trace-Id,Root=1-59d17900-5a7a978e4e97c22436ff54dc), (Content-Length,2),
        (Accept,application/json), (Content-Type,application/json), (Accept-Encoding,gzip;q=1.0,deflate;q=0.6,identity;q=0.3),
        (User-Agent,Ruby))","code":"BadJsonBody","params":{"obj.name":[{"msg":"error.path.missing","args":[]}]}}'
  recorded_at: Sun, 01 Oct 2017 23:23:44 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/lists
    body:
      encoding: UTF-8
      string: '{"name":"list-1506900869"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - <ITERABLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"listId":61931}'
  recorded_at: Sun, 01 Oct 2017 23:34:30 GMT
recorded_with: VCR 3.0.3
