---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:39 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '13'
      Iterable-Request-Id:
      - 5b3ef7f4-b9d7-42d8-8119-8630719c4555
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-04T08:04:39.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891074245}}'
  recorded_at: Wed, 03 Aug 2022 08:04:40 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"foo@","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '1'
      Iterable-Request-Id:
      - a9171e63-4b5a-4955-86cd-d0577b14a799
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: foo@","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:40 GMT
recorded_with: VCR 3.0.3
