---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/inApp/target
    body:
      encoding: UTF-8
      string: '{"sendAt":"2022-08-04 08:04:39 +0000","dataFields":{"firstName":"Chester","lastName":"Tester"},"recipientEmail":"danny@appleuniversity.com","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '59'
      Iterable-Request-Id:
      - be789205-7d41-40d7-a39d-7fa0ce8e744c
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4572825 - Scheduled triggered message for: 2022-08-04T08:04:39.000Z
        to: danny@appleuniversity.com","code":"Success","params":{"scheduledMessageId":891074202}}'
  recorded_at: Wed, 03 Aug 2022 08:04:39 GMT
- request:
    method: post
    uri: https://api.iterable.com/api/push/cancel
    body:
      encoding: UTF-8
      string: '{"email":"foo@","campaignId":4572825}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<ITERABLE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '3'
      Iterable-Request-Id:
      - 638476b4-e1d1-44bb-ba42-a852ece818c8
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Invalid email: foo@","code":"InvalidEmailAddressError","params":null}'
  recorded_at: Wed, 03 Aug 2022 08:04:39 GMT
recorded_with: VCR 3.0.3
